table tr {
	background-color: white;
}

table tr th {
	background-color: black;
}

._1 {
	background-color: gold;
}

._2 {
	background-color: silver;
}

._3 {
	background-color: #cd7f32;
}

tr td {
	color: black;
}